---
title: Home
lang: en
---
.large-6.large-centered.columns
  %a(href='/')
    %h1 Jerry Do It Together
  %p If you read this tagline you would kill to be part of the adventure
.row.show
  .large-12.columns.large-centered
    %img(src='img/jerry-map.png' title="the content of the image maybe inapropriate, ignore it. just there to show the layout")
.row.action
  .large-4.columns
    %a(href='discover/')
      %h2 Discover
    %p Small text about what Jerry DIT is and why the hell do you even read us? Quis rem ducimus voluptatum. Et, quo recusandae nulla beatae consequuntur.
    %a.small.button(href='discover/') I want more !
  .large-4.columns
    %a(href='follow/')
      %h2 Follow
    %p Hey its a network of people like you and me out there, maybe you already met some of us.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, delectus provident molestiae ullam at exercitationem.
    %a.small.button(href='follow/') Join the movement
  .large-4.columns
    %a(href='contribute/')
      %h2 Contribute
    %p Everything was made by individuals taking initiatives. Come and be the leader of your idea as long as it is in line with our values.
    %a.small.button(href='contribute/') Get involved (for fame & glory...)

