@font-face {
  font-family: "Open Sans";
  src: url('../font/OpenSans-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url('../font/OpenSans-Bold.ttf');
  font-weight: 700;
}
