%footer.row
  .large-12.columns
    %hr
    %ul
      %li
        %a(href='http://www.facebook.com/pages/Jerry-Do-It-Together/518513301524401') Like us
      %li
        %a(href='http://twitter.com/JerryDIT') @JerryDIT
      %li
        %a(href='http://blog.youandjerrycan.org') Blog
      %li
        %a(href='mailto:hello@youandjerrycan.org') Contact